<nav class="navbar">
    <div class="navbar-left">
      <div class="navbar-logo">
        <img src="assets/images/navbar/logo sin fondo.png" alt="Sorteos Logo">
      </div>
      <div class="navbar-profile">
        <img src="assets/images/navbar/profile-icon.png" alt="Profile Icon">
      </div>
    </div>
    <div class="navbar-menu">
      <a href="#" class="navbar-link">Inicio</a>
      <div class="navbar-divider"></div>
      <a href="#" class="navbar-link">¿Cómo funciona?</a>
      <div class="navbar-divider"></div>
      <a href="#" class="navbar-link">Contacto</a>
    </div>
    <div class="navbar-profile2">
        <img src="assets/images/navbar/profile-icon.png" alt="Profile Icon">
      </div>
  </nav>
  