<app-navbar></app-navbar>
<div class="container">
  <div class="left-panel">
    <img src="assets/images/funcionamiento/telefono.jpg" alt="Imagen de teléfono">
  </div>
  <div class="right-panel">
    <div class="content">
      <h2>¿Cómo funciona?</h2>
      <div class="info-section">
        <h3 class="info-title" data-tooltip="Elige el post de tu cuenta, donde han comentado todos los participantes del sorteo.">Selecciona el post</h3>
        <div class="info-section">
          <h3 class="info-title" data-tooltip="Aplica filtros y reglas personalizadas para definir condiciones de participación.">Aplicar filtros y reglas</h3>
        </div>
        <div class="info-section">
          <h3 class="info-title" data-tooltip="Utiliza la herramienta para seleccionar aleatoriamente al ganador del sorteo.">Selecciona el ganador</h3>
        </div>
        <div class="info-section">
          <h3 class="info-title" data-tooltip="Anuncia al ganador y gestiona la entrega del premio.">Anuncia</h3>
        </div>
      </div>
    </div>
  </div>
</div>

  
  <div class="containerAbajo">
    <div class="right-panel">
      <div class="content">
        <h2>Información</h2>
        <p>
          Crea una ruleta de la fortuna para captar leads. Personaliza el diseño de tu ruleta,
          captura los datos de los participantes, embebe la ruleta en tu sitio web y utiliza un
          popup al salir del sitio para aumentar la interacción.
        </p>
        <button class="btn">Pruébalo Gratis</button>
      </div>
    </div>
    <div class="r-panel">
      <img src="assets/images/funcionamiento/ruleta.png" alt="Imagen de ruleta">
    </div>
  </div>