
.container {
  background-color: #735a92;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerAbajo {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-panel, .right-panel {
  flex: 1;
  text-align: center;
}

.left-panel img {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  width: 50vw;
  height: 50vw;
  max-width: 100%;
}

.r-panel img {
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  width: 50vw;
  height: 50vw;
  max-width: 100%;
}

.content {
  padding: 20px;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.info-section {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.info-section:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3.info-title {
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.info-section:hover h3.info-title {
  color: #333;
}

.info-description {
  font-size: 16px;
  color: #333;
  display: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #ffffff;
}

.info-section:hover .info-description {
  display: block;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .left-panel img, .right-panel img {
    width: 100%;
    border-radius: 8px;
  }
}
